@model IEnumerable<MVC_Principles.Models.Category>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
	<a href="/Categories/Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                        <a href="/Categories/Edit/@item.CategoryID">Edit</a> |
                        <a href="/Categories/Details/@item.CategoryID">Details</a> |
                        <a href="/Categories/Delete/@item.CategoryID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
